.custom-bg{
  background:#673ab7!important;
}
.admin .card{
  border:1px solid #673ab7;
}
.admin .card:hover{
  background:#e2e2e2;
  cursor: pointer;
}
.row-mt-3{
  display: flex;
}
.last{
  width: 50%;
   float: left;
   padding: 20px;
}
